.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.lds-ripple,
.lds-ripple2 {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}

.lds-ripple div {
  position: absolute;
  border: 10px solid var(--black);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple2 div {
  position: absolute;
  border: 10px solid var(--light-blue);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2),
.lds-ripple2 div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

mat-sidenav-container {
  min-height: 100vh;
  background: var(--black);
  position: relative;
}

.sidenav {
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  background: unset;
  padding: 20px;
  background: var(--black);
}

.main {
  padding: 20px;
}

@media (max-width: 1200px) {
  .sidenav {
    width: 350px;
  }
}
